@page "/"
<div class="jumbotron">
    <h1 class="display-4">WebSSH</h1>
    <p class="lead">WebSSH allows you to SSH to your remote host anytime, anywhere.</p>
    <hr class="my-4">
    <p>Completely open source</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/qiuhaotc/WebSSH" target="_blank" role="button">Learn more on github</a>
</div>