name: .NET publish and test

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Install dependencies
      run: |
       cd src
       dotnet restore
    - name: Build
      run: |
       cd src
       dotnet build --configuration Release --no-restore
    - name: Test
      run: |
       cd src
       dotnet test --no-restore --verbosity normal

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
          
    
    - name: Build and Push the Docker image
      run: |
        cd src
        docker build -f WebSSH/Server/Dockerfile -t qiuhaotc/webssh:latest .
        docker push qiuhaotc/webssh:latest
